<%- header %> <%= path %>
<table id="list">
    <thead>
        <tr>
            <th style="width: 55%">
                <a href="?C=N&O=A">File Name</a>&nbsp;<a href="?C=N&O=D"
                    >&nbsp;↓&nbsp;</a
                >
            </th>
            <th style="width: 20%">
                <a href="?C=S&O=A">File Size</a>&nbsp;<a href="?C=S&O=D"
                    >&nbsp;↓&nbsp;</a
                >
            </th>
            <th style="width: 25%">
                <a href="?C=M&O=A">Date</a>&nbsp;<a href="?C=M&O=D"
                    >&nbsp;↓&nbsp;</a
                >
            </th>
        </tr>
    </thead>
    <tbody>
        <% files.forEach(function(file) { %>
        <tr>
            <td class="link">
                <a href="<%= file.name %>" title="<%= file.name %>"
                    ><%= file.name %></a
                >
            </td>
            <td class="size"><%= file.size %></td>
            <td class="date"><%= file.date %></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<%- footer %>
